


/* Grand Scope */
html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #7cc3b4; */
    background-color: white;
    
    margin: 0%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}




/* Related to the Game box */
#game-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: black;
    border-style: solid;
    width: 60vh;
    height: 60vh;
    padding: 0;
    margin: 0;
    position: relative;
}

.box {
    background-color: white;
    padding: 0;
    margin: 0%;
}


#main-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    /* padding-right: 10%; */

}




header {
    background-color: #398bd828;
   
    width: 100%;
    position: static;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

header ul {
    display: flex;
    flex-direction: column;
    margin:0;
}

#right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-size: 2vh;
}

header li {
    margin-right: 10px ;
}

header ul {
    list-style-type: none;
}



#controller {
    background-color: hsla(226, 78%, 56%, 0.055);
    height: 45vh;
    width: 30vh;
    margin-right: 10vh;
    border: solid;
    border-color: #87ad97;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;

}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 2.5vh;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3vh;
}

input {
    width: 25vh;
    height: 2vh;
}

button {
    width: 6vh;
    height: 3vh;
    font-size: 1.5vh;
}

button:active { 
    -moz-outline-style: none; 
    outline: none;
}